.menu {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.link {
    display: block;
    line-height: 64px;
    text-decoration: none;
}

.link:hover {
    color: #F2F2F3;
}


.active {
    color: #F2F2F3;
}


.info {
    color: #8585AD;
    opacity: 0.4;
}